@import "./reset.less";
@import "./variaveis.less";
@import "./products.less";
@import "./medias.less";
@import "./responsivo.less";

body{
    background-color: @corDeFundo;
}

li{
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    .branding img{
        width: 50px;
    }

    .branding{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        h2{
            color: #fff;
        }
    }
}

header{
    background-color: @corPrimaria;
    position: sticky;
    top: 0;
    left: 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu{
    display: flex;

    li{
        font-weight: bold;
        margin-left: 24px;
    }

    li a {
        color: #fff;
        text-decoration: none;
    }
}

section {
    padding: 56px 0;
}

#icons{
    .container{
        background-color: transparent;
        max-width: 320px;
        padding: 16px;

        .sociais{
            h2{
                text-align: center;
                padding-bottom: 32px;
            }
        }

        .menu-sociais{
            display: flex;
            justify-content: space-between;

            &-item img{
                transition: all .2s ease;
                background-color: @corFundoIcone;
                padding: 8px;
                border: 1px solid @corBordaIcone;
                border-radius: 5%;
                cursor: pointer;
                border-bottom: 2px solid @corUnderlineIcone;
            }

            &-item img:hover{
                transform: scale(1.4);
                background-color: @corBordaIcone;
                border-bottom: 2px solid @corPrimaria
            }
        }
    }
}